# Client files starts here ------------------------------- #
#Enviornment variables
/client/.env
# dependencies
/client/node_modules
/client/.pnp
/client.pnp.js

# testing
/client/coverage

# production
/client/build

# misc
/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

# Client files ends here ------------------------------- #

# Server files starts here ------------------------------- #

/server/node_modules
/server/.env

# Server files ends here ------------------------------- #