/* Table Container Styles */
.tablecontainer {
  /* border: 1px solid red; */
}

/* Table 1 Styles */
.table1 {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  margin: auto;
  margin-top: 3rem;
  display: none;
}

/* Table 2 Styles */
.table2 {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  margin: auto;
  margin-top: 3rem;
  display: table;
}

/* Table Header Cell Styles - Table 1 */
.table1 th {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

/* Table Data Cell Styles - Table 1 */
.table1 td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Table Header and Data Cell Styles - Table 2 */
.table2 th,
.table2 td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

/* First Child Cell Styles - Table 2 */
.table2 th:first-child,
.table2 td:first-child {
  border-left: 1px solid #ddd;
}

/* Table Header Styles - Table 1 */
.table1 th {
  background-color: #f7f7f7;
  font-weight: bold;
  text-transform: uppercase;
}

/* Table Header Styles - Table 2 */
.table2 th {
  background-color: #f7f7f7;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
}

/* Table Data Cell Styles - Both Tables */
.table1 td,
.table2 td {
  vertical-align: middle;
}

/* Table Row Hover Styles */
.table1 tr:hover,
.tabl2 tr:hover {
  background-color: #f5f5f5;
}

/* Table Image Styles */
.table_image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 4px;
  border: 2px solid #ddd;
}

/* Table Title Styles */
.table_title {
  font-weight: bold;
  font-size: 16px;
  color: #333;
  text-align: left;
}

/* Table Description Styles */
.table_description {
  font-size: 14px;
  color: #555;
  text-align: left;
}

/* Last Modified Styles */
.lastmodified {
  font-size: 14px;
  color: #555;
  text-align: left;
}

/* Responsive Styles */
@media (max-width: 768px) {

  .table1 {
    display: table;
  }

  .table2 {
    display: none;
  }
  
}